
<!-- page-header -->
<div ng-include="'appTemplate/page-header.html'"></div>


<div class="content" style="margin-top: 51px;">
    <!-- content HEADER -->
    <div class="content" style="margin-top: 51px;">
        <!-- content HEADER -->
        <div class="container">
            <div class="panel" data-ng-controller="quaziController">
                <div class="panel-heading border">
                    <h2>
                        Marriage List
                    </h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Nid Number</th>
                                <th>Registrar Number</th>
                                <th>Address</th>
                                <th>Password</th>
                                <th class="custom-datatabel-action-th">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="n in data">
                                <td>{{n.Name}}</td>
                                <td>{{n.NidNo}}</td>
                                <td>{{n.RegistrationNo}}</td>
                                <td>{{n.Address}}</td>
                                <td>{{n.Password}}</td>
                                <td>
                                    <button style="border:1px solid #02715a; background-color:#ffffff" type="button" tooltip-placement="top" uib-tooltip="{{'View Details'}}" class="btn btn-default" ng-click="openQuaziModal(n.Id);"><img src="Assets_Admin/images/datatables/info.png" width="20" /></button> &nbsp; &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .tr-style-static {
        transition: all 0.5s ease !important;
        /* background-color: #f7f7f7; */
        border-radius: 14px;
        /* border: 1px solid #000; */
        /*box-shadow: inset 0 0px 20px 0px rgb(24, 146, 121);*/
    }

    .tr-style-blink {
        transition: all 0.5s ease !important;
        /* background-color: #f7f7f7; */
        /*border-radius: 14px;*/
        border-radius: 25px;
        /* border: 1px solid #000; */
        box-shadow: inset 0 0px 20px 0px #ff9400;
    }

    .td-style {
        padding: 13px;
        font-size: 15px;
        font-family: monospace;
    }
</style>