<!-- left-sidebar -->
<div ng-include="'appTemplate/left-sidebar.html'"></div>
<!-- page-header -->
<div ng-include="'appTemplate/page-header.html'"></div>


<div class="content">
    <!-- content HEADER -->
    <div class="content-header">
        <!-- leftside content header -->
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-calculator" aria-hidden="true"></i><a ui-sref="loanschema">Loan Scheme</a></li>
            </ul>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <div class="animated fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-header">
                        <button type="button" class="btn btn-default btn-o pull-right btn-addon btn-o-addon" ng-click="openEmptyLoanSchemeModal()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add New Loan Scheme
                        </button>
                    </div>
                    <div class="panel-content">
                        <div class="table-responsive">
                            <!-- DataTable -->
                            <table class="data-table table table-striped nowrap table-bordered table-condensed" id="basic-table" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" cellspacing="0">
                                <thead>
                                    <tr class="animated fadeIn">
                                        <th>Loan Amount</th>
                                        <th>Required Margin</th>
                                        <th>No. Of Installment</th>
                                        <th>Added On</th>
                                        <th class="custom-datatabel-action-th">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="animated fadeIn" ng-repeat="x in LoanSchemeList">
                                        <td>{{x.LoanAmount}}</td>
                                        <td>{{x.RequiredMargin}}</td>
                                        <td>{{x.NoOfInstallment}}</td>
                                        <td>{{ x.AddedOn | date: "fullDate"}} {{ x.AddedOn | date: "shortTime"}}</td>
                                        <td>
                                            <button style="border:1px solid #02715a; background-color:#ffffff" type="button" tooltip-placement="top" uib-tooltip="{{'Edit'}}" class="btn btn-default" ng-click="openLoanSchemeModal(x.Id);"><img src="Assets_Admin/images/datatables/edit.png" width="20" /></button> &nbsp; &nbsp;
                                            <button style="border:1px solid #02715a; background-color:#ffffff" type="button" tooltip-placement="top" uib-tooltip="{{'View Details'}}" class="btn btn-default" ng-click="openLoanSchemeInfoModal(x.Id);"><img src="Assets_Admin/images/datatables/info.png" width="20" /></button> &nbsp; &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
</div>
<div class="modal fade" id="LoanSchemeModal" tabindex="-1" role="dialog" aria-labelledby="modal-label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="custom-close" aria-label="Close" ng-click="cancelLoanSchemeModal()" tooltip-placement="left" uib-tooltip="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="margin-top:1.6%">Add New Loan Scheme</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form name="LoanSchemeForm" novalidate>
                            <div class="panel panel-primary panel-bordered">
                                <div class="panel-body">
                                    <div class="row" style="padding-bottom:10px">
                                        <div class="col-lg-12">
                                            <!-- Loan Amount-->
                                            <div class="form-group">
                                                <label>Loan Amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                    <input type="number" class="form-control" name="LoanAmount" placeholder="Loan Amount"
                                                           ng-model="LoanScheme.LoanAmount"
                                                           ng-required="true" />
                                                </div>
                                                <div class="row custom-row">
                                                    <ul class="list-unstyled errormessage pull-left"
                                                        ng-show="LoanSchemeForm.LoanAmount.$dirty && LoanSchemeForm.LoanAmount.$invalid">
                                                        <li><span class="pull-left" ng-show="LoanSchemeForm.LoanAmount.$error.required">*Required</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 separator">
                                            <!--Required Margin-->
                                            <div class="form-group">
                                                <label>Required Margin</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                    <input type="number" class="form-control" name="RequiredMargin" placeholder="Required Margin"
                                                           ng-model="LoanScheme.RequiredMargin"
                                                           ng-required="true" />
                                                </div>
                                                <div class="row custom-row">
                                                    <ul class="list-unstyled errormessage pull-left"
                                                        ng-show="LoanSchemeForm.RequiredMargin.$dirty && LoanSchemeForm.RequiredMargin.$invalid">
                                                        <li><span class="pull-left" ng-show="LoanSchemeForm.RequiredMargin.$error.required">*Required</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- Rate Of Interest-->
                                            <div class="form-group">
                                                <label>Rate Of Interest</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" name="RateOfInterest" placeholder="Rate Of Interest"
                                                           ng-model="LoanScheme.RateOfInterest"
                                                           ng-required="true" />
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                                <div class="row custom-row">
                                                    <ul class="list-unstyled errormessage pull-left"
                                                        ng-show="LoanSchemeForm.RateOfInterest.$dirty && LoanSchemeForm.RateOfInterest.$invalid">
                                                        <li><span class="pull-left" ng-show="LoanSchemeForm.RateOfInterest.$error.required">*Required</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--Re-payment Amount-->
                                            <div class="form-group">
                                                <label>Re-payment Amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                    <input type="number" class="form-control" name="RepaymentAmount" placeholder="Re-payment Amount"
                                                           ng-model="LoanScheme.RepaymentAmount"
                                                           ng-required="true" />
                                                </div>

                                                <div class="row custom-row">
                                                    <ul class="list-unstyled errormessage pull-left"
                                                        ng-show="LoanSchemeForm.RepaymentAmount.$dirty && LoanSchemeForm.RepaymentAmount.$invalid">
                                                        <li><span class="pull-left" ng-show="LoanSchemeForm.RepaymentAmount.$error.required">*Required</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <!--Loan Duration-->
                                            <div class="form-group">
                                                <label>Loan Duration</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" name="LoanDuration" placeholder="Loan Duration"
                                                           ng-model="LoanScheme.LoanDuration"
                                                           ng-required="true" />
                                                    <span class="input-group-addon">Year (s)</span>
                                                </div>

                                                <div class="row custom-row">
                                                    <ul class="list-unstyled errormessage pull-left"
                                                        ng-show="LoanSchemeForm.LoanDuration.$dirty && LoanSchemeForm.LoanDuration.$invalid">
                                                        <li><span class="pull-left" ng-show="LoanSchemeForm.LoanDuration.$error.required">*Required</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- Installment Amount-->
                                            <div class="form-group">
                                                <label>Installment Amount</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                    <input type="number" class="form-control" name="InstallmentAmount" placeholder="Installment Amount"
                                                           ng-model="LoanScheme.InstallmentAmount"
                                                           ng-required="true" />
                                                </div>
                                                <div class="row custom-row">
                                                    <ul class="list-unstyled errormessage pull-left"
                                                        ng-show="LoanSchemeForm.InstallmentAmount.$dirty && LoanSchemeForm.InstallmentAmount.$invalid">
                                                        <li><span class="pull-left" ng-show="LoanSchemeForm.InstallmentAmount.$error.required">*Required</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--No Of Installment-->
                                            <div class="form-group">
                                                <label>No Of Installment</label>
                                                <input type="number" class="form-control" name="NoOfInstallment" placeholder="No Of Installment"
                                                       ng-model="LoanScheme.NoOfInstallment"
                                                       ng-required="true" />
                                                <div class="row custom-row">
                                                    <ul class="list-unstyled errormessage pull-left"
                                                        ng-show="LoanSchemeForm.NoOfInstallment.$dirty && LoanSchemeForm.NoOfInstallment.$invalid">
                                                        <li><span class="pull-left" ng-show="LoanSchemeForm.NoOfInstallment.$error.required">*Required</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:10px;">
                                        <div class="col-lg-12">
                                            <!--Select Loan Repayment Currency-->
                                            <div class="form-group">
                                                <label class="control-label">Choose Loan Repayment Currency</label>
                                                <input type="text" id="CurrencyOfLoanRepayment" placeholder="Select Repayment Currency" class="form-control" name="CurrencyOfLoan"
                                                       ng-model="LoanScheme.CurrencyOfLoan"
                                                       ng-required="true"
                                                       uib-typeahead="CryptoCurrency.name as CryptoCurrency.name for CryptoCurrency in AllCryptoCurrencyListings | filter:$viewValue" autocomplete="off"
                                                       typeahead-template-url="customTemplateSelectCoinName.html"
                                                       typeahead-show-hint="true"
                                                       typeahead-min-length="0"
                                                       typeahead-on-select="ProcessCoinSchemeName($item, $model, $label)">
                                                <!--typeahead-on-select="addProduct($item, $model, $label)"-->
                                                <div class="row row-modal">
                                                    <ul class="list-unstyled errormessage pull-left"
                                                        ng-show="(LoanScheme.CurrencyOfLoan==undefined || LoanScheme.CurrencyOfLoan==null) && CoinSchemeForm.CurrencyOfLoan.$dirty">
                                                        <li><span class="pull-left" ng-show="LoanScheme.CurrencyOfLoan==undefined || LoanScheme.CurrencyOfLoan==null">*Required</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row row-modal">
                    <button type="button" ng-if="LoanScheme.Id==null"
                            class="btn btn-wide btn-primary pull-right btn-left-border-radius"
                            ng-click="CreateLoanScheme()"
                            ng-disabled="LoanSchemeForm.$invalid"
                            role="button">
                        Save &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check fa-1x"></i>
                    </button>
                    <button type="button" ng-if="LoanScheme.Id!=null"
                            class="btn btn-wide btn-primary pull-right btn-left-border-radius"
                            ng-click="UpdateLoanScheme()"
                            ng-disabled="LoanSchemeForm.$invalid"
                            role="button">
                        Update &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check fa-1x"></i>
                    </button>
                    <button type="button"
                            class="btn btn-wide btn-default pull-right btn-left-border-radius"
                            ng-click="cancelLoanSchemeModal()"
                            role="button">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LoanSchemeInfoModal" tabindex="-1" role="dialog" aria-labelledby="modal-label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="custom-close" data-dismiss="modal" aria-label="Close" ng-click="cancelLoanSchemeInfoModal()" tooltip-placement="left" uib-tooltip="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="margin-top:1.6%">Loan Scheme Information</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-bordered">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <tbody>
                                            <tr>
                                                <th>Installment Amount</th>
                                                <td>{{LoanScheme.InstallmentAmount}}</td>
                                            </tr>
                                            <tr>
                                                <th>Loan Amount</th>
                                                <td>{{LoanScheme.LoanAmount}}</td>
                                            </tr>
                                            <tr>
                                                <th>Loan Duration</th>
                                                <td>{{LoanScheme.LoanDuration}}</td>
                                            </tr>
                                            <tr>
                                                <th>No. Of Installment</th>
                                                <td>{{LoanScheme.NoOfInstallment}}</td>
                                            </tr>
                                            <tr>
                                                <th>Rate Of Interest</th>
                                                <td>{{LoanScheme.RateOfInterest}}</td>
                                            </tr>
                                            <tr>
                                                <th>Repayment Amount</th>
                                                <td>{{LoanScheme.RepaymentAmount}}</td>
                                            </tr>
                                            <tr>
                                                <th>Required Margin</th>
                                                <td>{{LoanScheme.RequiredMargin}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-bordered">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed">
                                        <tbody>
                                            <tr>
                                                <th>Currency Of Loan</th>
                                                <td>{{LoanScheme.CurrencyOfLoan}}</td>
                                            </tr>
                                            <tr>
                                                <th>Added On</th>
                                                <td>{{LoanScheme.AddedOn | date: "fullDate"}} {{LoanScheme.AddedOn | date: "shortTime"}}</td>
                                            </tr>
                                            <tr>
                                                <th>Last Modified On</th>
                                                <td>{{LoanScheme.LastModifiedOn | date: "fullDate"}} {{LoanScheme.LastModifiedOn | date: "shortTime"}}</td>
                                            </tr>
                                            <tr>
                                                <th>Added By</th>
                                                <td>{{LoanScheme.AddedByUsername}}</td>
                                            </tr>
                                            <tr>
                                                <th>Total Approved Customer Of This Loan Scheme</th>
                                                <td><span class="badge b-straight x-primary" style="padding:2px 3px">{{LoanScheme.TotalApprovedCustomerOfThisLoanScheme}}</span></td>
                                            </tr>
                                            <tr>
                                                <th>Total Pending Customer Of This Loan Scheme</th>
                                                <td><span class="badge b-straight x-primary" style="padding:2px 3px">{{LoanScheme.TotalPendingCustomerOfThisLoanScheme}}</span></td>
                                            </tr>
                                            <tr>
                                                <th>Total Rejected Customer Of This Loan Scheme</th>
                                                <td><span class="badge b-straight x-primary" style="padding:2px 3px">{{LoanScheme.TotalRejectedCustomerOfThisLoanScheme}}</span></td>
                                            </tr>
                                            <tr>
                                                <th>Total Customer Of This Loan Scheme</th>
                                                <td><span class="badge b-straight x-primary" style="padding:2px 3px">{{LoanScheme.TotalCustomerOfThisLoanScheme}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row row-modal">
                    <button type="button"
                            class="btn btn-wide btn-default pull-right btn-left-border-radius"
                            ng-click="cancelLoanSchemeInfoModal()"
                            role="button">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="customTemplateSelectCoinName.html">
    <a style="padding:0px 20px;height:38px">
        <div class="table-responsive">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <span class="k-state-default">
                                <span class="k-h3" ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
                            </span>
                        </td>
                        <td style="float:right">
                            <span class="k-state-default">
                                <span class="k-h3 pull-right" ng-bind-html="match.model.symbol | uibTypeaheadHighlight:query"></span>
                                <!--<br />
                                <span class="k-p" style="font-weight:bold; font-size:.7em">Rank: {{match.model.rank}}</span>
                                <b>|</b>
                                <span class="k-p" style="font-weight:bold; font-size:.7em">Total Supply: {{match.model.total_supply}}</span>
                                <b>|</b>
                                <span class="k-p" style="font-weight:bold; font-size:.7em">Price: {{match.model.quotes.USD.price}}</span>-->
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </a>
</script>