<style>
    .page-body {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
    }

    .logo {
        max-width: 420px;
        margin: 20px auto 0px;
        margin-bottom: 40px;
    }

        .logo img {
            display: block;
            margin: auto;
            width: 50%;
            min-width: 140px;
        }

    .box {
        background: #ffffff;
        border-radius: 5px;
        padding: 15px;
        max-width: 420px;
        margin: 20px auto 0px;
    }
</style>


<div class="animated slideInDown">
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!--LOGO-->
    <div class="logo">
        <img alt="logo" src="Assets_Customer/images/resetpassword.png" />
    </div>
    <div class="box">
        <!--Activation FORM-->
        <div class="panel mb-none">
            <div class="panel-content bg-scale-0">
                <form name="ResetPasswordForm" novalidate>
                    <div class="form-group mt-md">
                        <span class="input-with-icon">
                            <input type="password" class="form-control" name="Password" placeholder="Password"
                                   ng-model="Password"
                                   ng-required="true"
                                   ng-minlength="6"
                                   ng-maxlength="50"
                                   ng-pattern="/([a-zA-Z0-9 ])\w+/" />
                            <i class="fa fa-key"></i>
                        </span>
                        <div class="row custom-row">
                            <ul class="list-unstyled errormessage pull-left" ng-show="ResetPasswordForm.Password.$dirty && ResetPasswordForm.Password.$invalid">
                                <li><span class="pull-left" ng-show="ResetPasswordForm.Password.$error.required">*Required</span></li>
                                <li><span class="pull-left" ng-show="ResetPasswordForm.Password.$error.pattern">Not a valid Password</span></li>
                                <li><span class="pull-left" ng-show="!ResetPasswordForm.Password.$error.pattern && ResetPasswordForm.Password.$error.minlength">Minimum required length is 6</span></li>
                                <li><span class="pull-left" ng-show="!ResetPasswordForm.Password.$error.pattern && ResetPasswordForm.Password.$error.maxlength">Maximum required length is 50</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group mt-md">
                        <span class="input-with-icon">
                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password"
                                   ng-required="true"
                                   ng-model="ConfirmPassword"
                                   ng-pattern="Password" />
                            <i class="fa fa-key"></i>
                        </span>
                        <div class="row custom-row">
                            <ul class="list-unstyled text-danger pull-left" ng-show="ResetPasswordForm.ConfirmPassword.$dirty && ResetPasswordForm.ConfirmPassword.$invalid">
                                <li><span class="pull-left" ng-show="ResetPasswordForm.ConfirmPassword.$error.required">*Required</span></li>
                                <li><span class="pull-left" ng-show="ResetPasswordForm.ConfirmPassword.$error.pattern">Password is not matched</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group mt-md">
                        <span class="input-with-icon">
                            <input id="ResetPasswordCode" name="ResetPasswordCode" class="form-control input-md" type="text" placeholder="Password Reset Code"
                                   ng-model="ResetPasswordCode"
                                   ng-required="true" />
                            <i class="fa fa-key"></i>
                        </span>
                        <div class="row custom-row">
                            <ul class="list-unstyled errormessage pull-left"
                                ng-show="ResetPasswordForm.ResetPasswordCode.$dirty && ResetPasswordForm.ResetPasswordCode.$invalid">
                                <li><span class="pull-left" ng-show="ResetPasswordForm.ResetPasswordCode.$error.required">*Required</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox-custom checkbox-primary">
                            <input type="checkbox" id="LogoutFromAllSession" name="LogoutFromAllSession"
                                   ng-disabled="ResetPasswordForm.$invalid"
                                   ng-true-value="true"
                                   ng-false-value="false"
                                   ng-model="LogoutFromAllSession" />
                            <label class="check" for="LogoutFromAllSession">Logout From All Other Session(s) & Device(s)</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block"
                                ng-click="ResetPasswordByPasswordResetCode();"
                                ng-disabled="ResetPasswordForm.$invalid">
                            Reset Password
                        </button>
                    </div>
                    <div class="form-group text-center">
                        <p>Already activated your account? Please <a ui-sref="logIn">Login</a> to continue</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
</div>