<!-- left-sidebar -->
<div ng-include="'appTemplate/left-sidebar.html'"></div>
<!-- page-header -->
<div ng-include="'appTemplate/page-header.html'"></div>


<div class="content">
    <!-- content HEADER -->

    <div class="content-header">
        <!-- leftside content header -->
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-cubes" aria-hidden="true"></i><a ui-sref="coinschema">Coin Scheme</a></li>
            </ul>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <div class="animated fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-header">
                        <button type="button" class="btn btn-default btn-o pull-right btn-addon btn-o-addon" ng-click="openEmptyCoinSchemeModal()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add New Coin Scheme
                        </button>
                    </div>
                    <div class="panel-content">
                        <div class="table-responsive">
                            <!-- DataTable -->
                            <table class="data-table table table-striped nowrap table-bordered table-condensed" id="basic-table" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" cellspacing="0">
                                <thead>
                                    <tr class="animated fadeIn">
                                        <th>Name</th>
                                        <th>Symbol</th>
                                        <th>Status</th>
                                        <th>Toggle Status</th>
                                        <th class="custom-datatabel-action-th">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="animated fadeIn" ng-repeat="x in CoinSchemeList">
                                        <td>{{x.Name}}</td>
                                        <td>{{x.Symbol}}</td>
                                        <td><span class="{{x.Status=='Active'?'badge x-success':'badge'}}">{{x.Status=='InActive'?'In-Active':x.Status}}</span></td>
                                        <td>
                                            <div class="form-group-sm">
                                                <label class="control-label"></label>
                                                <div class="row custom-row">
                                                    <label class="switch" style="margin-top:-13px; height:19px; width:43px">
                                                        <input type="checkbox" ng-model="x.CheckBoxStatus" ng-true-value="'Active'" ng-false-value="'InActive'" name="ToggleStatus" ng-click="ToggleCoinSchemeStatus(x.Id, x.Status)" />
                                                        <span class="slider-success round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button style="border:1px solid #02715a; background-color:#ffffff" type="button" tooltip-placement="top" uib-tooltip="{{'Edit'}}" class="btn btn-default" ng-click="openCoinSchemeModal(x.Id);"><img src="Assets_Admin/images/datatables/edit.png" width="20" /></button> &nbsp; &nbsp;
                                            <!--<button style="border:1px solid #02715a; background-color:#ffffff" type="button" class="btn btn-default" ng-click="deleteEmployeeAlert(x.Id);"><img src="Assets_Company/images/datatables/delete.png" width="20"/></button>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
</div>


<div class="modal fade" id="CoinSchemeModal" tabindex="-1" role="dialog" aria-labelledby="modal-label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="width:45%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="custom-close" aria-label="Close" ng-click="cancelCoinSchemeModal()" tooltip-placement="left" uib-tooltip="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="margin-top:1.6%" ng-if="CoinScheme.Id === undefined">Add New Coin Scheme</h4>
                <h4 class="modal-title" style="margin-top:1.6%" ng-if="CoinScheme.Id != undefined">Update Coin Scheme ({{CoinScheme.Name}})</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">

                        <form name="CoinSchemeForm">
                            <div class="panel panel-primary panel-bordered">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="control-label">Choose Coin Name</label>                                        
                                        <input type="text" id="CoinSchemeName" placeholder="Select Coin Name" class="form-control" name="CoinSchemeName"
                                               ng-model="CoinSchemeName"
                                               ng-required="true"
                                               uib-typeahead="CryptoCurrency as CryptoCurrency.name for CryptoCurrency in AllCryptoCurrencyListings | filter:$viewValue" autocomplete="off"
                                               typeahead-template-url="customTemplateSelectCoinName.html"
                                               typeahead-show-hint="true"
                                               typeahead-min-length="0"
                                               typeahead-on-select="ProcessCoinSchemeName($item, $model, $label)">
                                        <!--typeahead-on-select="addProduct($item, $model, $label)"-->
                                        <div class="row row-modal">
                                            <ul class="list-unstyled errormessage pull-left"
                                                ng-show="(CoinSchemeName==undefined || CoinSchemeName==null) && CoinSchemeForm.CoinSchemeName.$dirty">
                                                <li><span class="pull-left" ng-show="CoinSchemeName==undefined || CoinSchemeName==null">*Required</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Wallet Address</label>
                                        <textarea rows="2" cols="50" type="text" class="form-control" name="WalletAddress" style="resize:none"
                                                  ng-required="true"
                                                  ng-model="CoinScheme.WalletAddress"></textarea>
                                        <div class="row custom-row">
                                            <ul class="list-unstyled errormessage pull-left" ng-show="CoinSchemeForm.WalletAddress.$dirty && CoinSchemeForm.WalletAddress.$invalid">
                                                <li><span class="pull-left" ng-show="CoinSchemeForm.WalletAddress.$error.required">*Required</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer" ng-if="CoinScheme.Id === undefined">
                <div class="row row-modal">
                    <div ng-if="CoinScheme.Id === undefined">
                        <button type="button"
                                class="btn btn-wide btn-primary pull-right btn-right-border-radius"
                                ng-disabled="CoinSchemeForm.$invalid"
                                ng-click="AddCoinScheme()">
                            <span>
                                Save &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check fa-1x"></i>
                            </span>
                        </button>
                        <button type="button"
                                class="btn btn-wide btn-default pull-right btn-left-border-radius"
                                ng-click="cancelCoinSchemeModal()"
                                role="button">
                            Close
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-footer" ng-if="CoinScheme.Id > 0">
                <div class="row row-modal">
                    <div ng-if="CoinScheme.Id >0">
                        <button type="button"
                                class="btn btn-wide btn-primary pull-right btn-right-border-radius"
                                ng-disabled="CoinSchemeForm.$invalid"
                                ng-click="UpdateCoinScheme()">
                            <span>
                                Update &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check fa-1x"></i>
                            </span>
                        </button>
                        <button type="button"
                                class="btn btn-wide btn-default pull-right btn-left-border-radius"
                                ng-click="cancelCoinSchemeModal()"
                                ng-disabled="Loading==true"
                                role="button">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
</style>


<!--<div class="form-group">
    <label class="control-label">Select Product</label>
    <div class="input-group">
        <input type="text" id="AddProduct" placeholder="Select Product" class="form-control" name="AddProduct"
               ng-model="AddProduct"
               uib-typeahead="Product as Product.ProductName for Product in ProductList | filter:$viewValue" autocomplete="off"
               typeahead-template-url="customTemplateSelectProduct.html"
               typeahead-show-hint="true"
               typeahead-min-length="0">
        <span class="input-group-btn">
            <button role="button" style="border:1px solid #ccc; border-left:none" class="btn btn-primary btn-o"
                    ng-click="addProduct(AddProduct); AddProduct='';"
                    tooltip-placement="top" uib-tooltip="Add"
                    ng-disabled="AddProduct.Id==undefined || AddProduct.Id==null">
                <i class="fa fa-plus-circle"></i>
            </button>
            <button role="button" style="border:1px solid #ccc; border-left:none" class="btn btn-primary btn-o"
                    ng-click="openProductInfoModal(AddProduct.Id);"
                    tooltip-placement="top" uib-tooltip="View Details"
                    ng-disabled="AddProduct.Id==undefined || AddProduct.Id==null">
                <i class="fa fa-info-circle"></i>
            </button>
        </span>
    </div>
    <div class="row row-modal">
        <ul class="list-unstyled errormessage pull-left"
            ng-show="(AddProduct.Id==undefined || AddProduct.Id==null) && OrderForm.AddProduct.$dirty && ProductList.length<=0">
            <li><span class="pull-left" ng-show="AddProduct.Id==undefined || AddProduct.Id==null">*Required</span></li>
        </ul>
    </div>
</div>-->


<script type="text/ng-template" id="customTemplateSelectCoinName.html">
    <a style="padding:0px 20px;height:55px">
        <div class="table-responsive">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <span class="k-state-default">
                                <span class="k-h3" ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
                            </span>
                        </td>
                        <td style="float:right">
                            <span class="k-state-default">
                                <span class="k-h3 pull-right" ng-bind-html="match.model.symbol | uibTypeaheadHighlight:query"></span>
                                <br />
                                <span class="k-p" style="font-weight:bold; font-size:.7em">Rank: {{match.model.rank}}</span>
                                <b>|</b>
                                <span class="k-p" style="font-weight:bold; font-size:.7em">Total Supply: {{match.model.total_supply}}</span>
                                <b>|</b>
                                <span class="k-p" style="font-weight:bold; font-size:.7em">Price: {{match.model.quotes.USD.price}}</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </a>
</script>

<style>
    .slider-success:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
</style>