<!-- left-sidebar -->
<div ng-include="'appTemplate/left-sidebar.html'"></div>
<!-- page-header -->
<div ng-include="'appTemplate/page-header.html'"></div>


<div class="content">
    <!-- content HEADER -->

    <div class="content-header">
        <!-- leftside content header -->
        <div class="leftside-content-header">
            <ul class="breadcrumbs">
                <li><i class="fa fa-money" aria-hidden="true"></i><a ui-sref="loanrequest">Loan Request</a></li>
            </ul>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <div class="animated fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-header">
                    </div>
                    <div class="panel-content">
                        <div class="table-responsive">
                            <!-- DataTable -->
                            <table class="data-table table table-striped nowrap table-bordered table-condensed" id="basic-table" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" cellspacing="0">
                                <thead>
                                    <tr class="animated fadeIn">
                                        <th>Requested By</th>
                                        <th>Requested On</th>
                                        <th>Loan Amount</th>
                                        <th>Loan Scheme Name</th>
                                        <th>Natinality</th>
                                        <th>Status</th>
                                        <th class="custom-datatabel-action-th">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="animated fadeIn" ng-repeat="x in LoanRequestList">
                                        <td>{{x.FirstName}} {{x.LastName}}</td>
                                        <td>{{ x.RequestedOn | date: "fullDate"}} {{ x.RequestedOn | date: "shortTime"}}</td>
                                        <td>{{x.LoanAmount}}</td>
                                        <td>{{x.Name}}</td>
                                        <td>{{x.Nationality}}</td>
                                        <td><span class="{{x.LoanStatus=='Approved'?'badge x-success badge-middle-in-data-table':x.LoanStatus=='Processing'?'badge x-warning badge-middle-in-data-table':x.LoanStatus=='Rejected'?'badge x-danger badge-middle-in-data-table':'badge badge-middle-in-data-table'}}">{{x.LoanStatus}}</span></td>
                                        <td>
                                            <button style="border:1px solid #02715a; background-color:#ffffff" type="button" tooltip-placement="top" uib-tooltip="{{'View Details'}}" class="btn btn-default" ng-click="openLoanRequestInfoModal(x.Id);"><img src="Assets_Admin/images/datatables/info.png" width="20" /></button> &nbsp; &nbsp;
                                            <!--<button style="border:1px solid #02715a; background-color:#ffffff" type="button" class="btn btn-default" ng-click="deleteEmployeeAlert(x.Id);"><img src="Assets_Company/images/datatables/delete.png" width="20"/></button>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
</div>


<div class="modal fade" id="LoanRequestInfoModal" tabindex="-1" role="dialog" aria-labelledby="modal-label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="width:75%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="custom-close" aria-label="Close" ng-click="cancelLoanRequestInfoModal()" tooltip-placement="left" uib-tooltip="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="margin-top:1.6%">Loan Request Information {{'('+LoanRequest.Name+')'}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class="animated fadeIn">
                            <legend style="width:25%; text-align:center">
                                <label class="control-label">Loan Details</label>
                            </legend>
                            <div class="webkitscroller col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover table-condensed">
                                        <tbody>
                                            <tr>
                                                <th style="width:49%">Name</th>
                                                <td>{{LoanRequest.Name}}</td>
                                            </tr>
                                            <tr>
                                                <th>Status</th>
                                                <td><span class="{{LoanRequest.LoanStatus=='Approved'?'badge x-success':LoanRequest.LoanStatus=='Processing'?'badge x-warning':LoanRequest.LoanStatus=='Rejected'?'badge x-danger':'badge'}}">{{LoanRequest.LoanStatus}}</span></td>
                                            </tr>
                                            <tr>
                                                <th>Loan Amount</th>
                                                <td>{{LoanRequest.LoanAmount}}</td>
                                            </tr>
                                            <tr>
                                                <th>Requested On</th>
                                                <td>{{LoanRequest.RequestedOn | date: "fullDate"}} {{LoanRequest.RequestedOn | date: "shortTime"}}</td>
                                            </tr>
                                            <tr>
                                                <th>Evaluated On</th>
                                                <td>{{LoanRequest.LoanStatusUpdatedOn | date: "fullDate"}} {{LoanRequest.LoanStatusUpdatedOn | date: "shortTime"}}</td>
                                            </tr>
                                            <tr>
                                                <th>Business Catagory</th>
                                                <td>{{LoanRequest.BusinessCategory}}</td>
                                            </tr>
                                            <tr>
                                                <th>Create New Job</th>
                                                <td>{{LoanRequest.WillCreateNewJob==true?'Yes':'No'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>                    
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class="animated fadeIn">
                            <legend style="width:25%; text-align:center">
                                <label class="control-label">Customer Details</label>
                            </legend>
                            <div class="webkitscroller col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover table-condensed">
                                        <tbody>
                                            <tr>
                                                <th style="width:49%">Name</th>
                                                <td>{{LoanRequest.FirstName}} {{LoanRequest.LastName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Gender</th>
                                                <td>{{LoanRequest.Gender}}</td>
                                            </tr>
                                            <tr>
                                                <th>Date Of Birth</th>
                                                <td>{{LoanRequest.Dob | date: "fullDate"}} {{LoanRequest.Dob | date: "shortTime"}}</td>
                                            </tr>
                                            <tr>
                                                <th>Father's Name</th>
                                                <td>{{LoanRequest.FatherName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Mother's Name</th>
                                                <td>{{LoanRequest.MotherName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Nationality</th>
                                                <td>{{LoanRequest.Nationality}}</td>
                                            </tr>
                                            <tr>
                                                <th>Postal Address</th>
                                                <td>{{LoanRequest.PostalAddress}}</td>
                                            </tr>
                                            <tr>
                                                <th>Repayment Amount</th>
                                                <td>{{LoanRequest.ContactNumber}}</td>
                                            </tr>
                                            <tr>
                                                <th>Reference Name</th>
                                                <td>{{LoanRequest.ReferenceName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Reference Contact Number</th>
                                                <td>{{LoanRequest.ReferenceContactNumber}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row row-modal">
                    <button type="button"
                            style="border-radius:0px"
                            class="btn btn-wide btn-success pull-right btn-left-border-radius"
                            ng-if="LoanRequest.LoanStatus=='Processing'"
                            ng-click="ApproveLoanRequestByLoanRequestId()"
                            role="button">
                        Approve &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check fa-1x"></i>
                    </button>
                    <button type="button" style="margin-left:0px; border-radius:0px"
                            class="btn btn-wide btn-danger pull-right btn-left-border-radius"
                            ng-if="LoanRequest.LoanStatus=='Processing'"
                            ng-click="openRejectLoanRequestModal()"
                            role="button">
                        Reject &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-close fa-1x"></i>
                    </button>
                    <button type="button"
                            style="border-radius:0px"
                            class="btn btn-wide btn-default pull-right btn-left-border-radius"
                            ng-click="cancelLoanRequestInfoModal()"
                            role="button">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="RejectLoanRequestModal" tabindex="-1" role="dialog" aria-labelledby="modal-label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="width:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="custom-close" aria-label="Close" ng-click="cancelRejectLoanRequestModal()" tooltip-placement="left" uib-tooltip="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="margin-top:1.6%">Cause Of Rejection</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form name="RejectLoanRequestForm" novalidate>
                            <div class="panel panel-primary panel-bordered">
                                <div class="panel-body">
                                    <div class="form-group-sm">
                                        <label class="control-label">Rejection Cause</label>
                                        <textarea rows="4" name="LoanRequestRejectionCause" class="form-control" style="resize:none"
                                                  ng-model="RejectLoanRequest.LoanRequestRejectionCause"
                                                  ng-required="true"></textarea>
                                        <div class="row custom-row">
                                            <ul class="list-unstyled errormessage pull-left"
                                                ng-show="RejectLoanRequestForm.LoanRequestRejectionCause.$dirty && RejectLoanRequestForm.LoanRequestRejectionCause.$invalid">
                                                <li><span class="pull-left" ng-show="RejectLoanRequestForm.LoanRequestRejectionCause.$error.required">*Required</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row row-modal">
                    <button type="button"
                            class="btn btn-wide btn-danger pull-right"
                            ng-disabled="RejectLoanRequestForm.$invalid"
                            ng-click="RejectLoanRequestByLoanRequestId()"
                            role="button">
                        Reject &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-close fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>