<style>
    .page-body {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
    }

    .logo {
        max-width: 420px;
        margin: 20px auto 0px;
        margin-bottom: 40px;
    }

        .logo img {
            display: block;
            margin: auto;
            width: 50%;
            min-width: 140px;
        }

    .box {
        background: #ffffff;
        border-radius: 5px;
        padding: 15px;
        max-width: 420px;
        margin: 20px auto 0px;
    }
</style>


<div class="animated slideInDown">
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
    <!--LOGO-->
    <div class="logo">
       <h1 style="text-align:center;">Marriage Varify</h1>
    </div>
    <div class="box">
        <!--SIGN IN FORM-->
        <div class="panel mb-none">
            <div class="panel-content bg-scale-0">
                <form name="RegisterForm" novalidate>
                    <div class="form-group mt-md">
                        <span class="input-with-icon">
                            <input type="email" class="form-control" name="Email" placeholder="NidNo/MobileNo/Mariage Reg. No."
                                   ng-model="Customer.Email"
                                   ng-required="true"
                                   ng-minlength="11"
                                   ng-maxlength="30"
                                   ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' />
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="row custom-row">
                            <ul class="list-unstyled errormessage pull-left"
                                ng-show="RegisterForm.Email.$dirty && RegisterForm.Email.$invalid">
                                <li class="pull-left" ng-show="RegisterForm.Email.$error.pattern">Not a valid Email Address</li>
                                <li><span class="pull-left" ng-show="RegisterForm.Email.$error.required">*Required</span></li>
                                <li><span class="pull-left" ng-show="!RegisterForm.Email.$error.pattern && RegisterForm.Email.$error.minlength">Minimum required length is 11</span></li>
                                <li><span class="pull-left" ng-show="!RegisterForm.Email.$error.pattern && RegisterForm.Email.$error.maxlength">Maximum required length is 30</span></li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="form-group mt-md">
                        <span class="input-with-icon">
                            <input type="password" class="form-control" name="Password" placeholder="Password"
                                   ng-model="Customer.Password"
                                   ng-required="true"
                                   ng-minlength="6"
                                   ng-maxlength="50"
                                   ng-pattern="/([a-zA-Z0-9 ])\w+/" />
                            <i class="fa fa-key"></i>
                        </span>
                        <div class="row custom-row">
                            <ul class="list-unstyled errormessage pull-left" ng-show="RegisterForm.Password.$dirty && RegisterForm.Password.$invalid">
                                <li><span class="pull-left" ng-show="RegisterForm.Password.$error.required">*Required</span></li>
                                <li><span class="pull-left" ng-show="RegisterForm.Password.$error.pattern">Not a valid Password</span></li>
                                <li><span class="pull-left" ng-show="!RegisterForm.Password.$error.pattern && RegisterForm.Password.$error.minlength">Minimum required length is 6</span></li>
                                <li><span class="pull-left" ng-show="!RegisterForm.Password.$error.pattern && RegisterForm.Password.$error.maxlength">Maximum required length is 50</span></li>
                            </ul>
                        </div>
                    </div>
                 
                    <div class="form-group">
                        <button class="btn btn-primary btn-block"
                                ng-click="SaveRegister()"
                                ng-disabled="RegisterForm.$invalid">
                            Check
                        </button>
                    </div>

                    <!--Server Side Message-->
                    <div class="form-group text-center">
                        <h1>{{Message}}</h1>
                    </div>
                    <div class="form-group text-center">
                        <!--Have an account?, <a ui-sref="logIn">Sign In</a>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
</div>

<div class="modal fade" id="TandCModal" tabindex="-1" role="dialog" aria-labelledby="modal-label" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="height:65px">
                <button type="button" class="custom-close" ng-click="closeTandCModal()" style="margin-top:0px;" aria-label="Close" tooltip-placement="left" uib-tooltip="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="margin-top:1.6%">Terms & Conditions</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-primary panel-bordered">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    <h4 class="panel-title">
                                        <b>LEGAL</b>
                                    </h4>
                                    <hr />
                                    <span>
                                        Token sale is not done under the supervision of any regulator. We have approached the CCD Token sale in a comprehensive and responsible manner. Given the uncertain status of cryptocurrency is various jurisdictions around the world, the founders of crypto credit spent a significant amount of time and resources to analyze the legal status of Crypto Credit Foundation N.G.O model and CCD Token in jurisdiction where we plan to operate.
                                    </span>
                                    <br />
                                    <br />
                                    <br />
                                    <h4 class="panel-title">
                                        <b>DISCLAIMER</b>
                                    </h4>
                                    <hr />
                                    <ul>
                                        <li>
                                            Loan terms, technical, business strategy and legal models may be change in the future.
                                        </li>
                                        <li>
                                            You can consult with a lawyer, financial expert, tax professional on other advisors to evaluate the risk for purchasing CCD coin.
                                        </li>
                                        <li>
                                            You understand and agree that the token sale is not done under the supervision of any regulator. These terms do not represent a prospectus for the issuance of bonds, securities or other investment instruments.
                                        </li>
                                        <li>

                                            For the convenience of our user’s the whitepaper, website and other related documents will be available in 20 languages. So, keep touch with us for the upgrade version of the whitepaper.
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Action Buttons-->
            <div class="modal-footer">
                <div class="row row-modal">
                    <button type="button"
                            class="btn  btn-default btn-wide pull-right btn-left-border-radius"
                            ng-click="closeTandCModal()"
                            role="button">
                        Close
                    </button>
                    <button type="button"
                            class="btn  btn-primary btn-wide pull-right btn-left-border-radius"
                            ng-click="AcceptTandC()"
                            role="button">
                        Accept
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>